.config-section {
    padding: 10px 59px;


    .bloco {

        margin-top: 31px;

        .menus {
            border-top: 2px solid #bbb;
            padding: 6px 12px 8px 8px !important;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-bottom: white;
            margin-bottom: -1px;
            border-radius: 4px 4px 0 0;
            font-size: 11px;
            background-color: white;
            cursor: pointer;

            i {
                margin-right: 5px;
            }
        }

        .minhaConta {
            border-top: 2px solid #bbb;
            padding: 6px 12px 8px 8px !important;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-bottom: white;
            margin-bottom: -1px;
            border-radius: 4px 4px 0 0;
            font-size: 11px;
            cursor: pointer;

            i {
                margin-right: 5px;
            }
        }

    }

    .div-padding {
        border: 1px solid #ddd;
        padding: 15px;
        display: flex;
        flex-direction: column;
        min-height: 349px;
    }
}