* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
}

:root {
    --primary-color: #2c7bff;
}

#toast-container>div {
    border-radius: 8px;
}
