.container-atendi {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    .fa-bullhorn:before {
        content: "\f0a1";
        font-size: 20px;
        margin-right: 5px;
    }

    .bloco1 {
        display: flex;
        gap: 15px;
        padding: 10px;

        .number-atendimento {
            display: flex;
            width: 100%;
            justify-content: space-between;

            button.print {
                padding: 5px;
                border: none;
                color: #fff;
                background-color: #626262;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }

    .image {
        img {
            max-height: 82px;
        }
    }

    .atendimento {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;

        p {
            color: #666;
        }

    }

    .cod {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        font-size: 14px;

        span {
            color: #666 !important;
        }
    }

    .container-avalicao {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 12px 17px 18px 17px;
        background-color: #ecf0f1;
        margin-bottom: 15px;
        border-radius: 6px;

        .avalicao {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                font-size: 88% !important;
            }

            .pesquisa {
                color: #666 !important;
            }
        }
    }

    .container-atendimento {
        border: 1px solid #e3e3e3;
        display: flex;
        border-radius: 6px;


        .painel-left {
            background-color: #ecf0f1;
            padding: 15px;
            border-radius: 6px;
            border-right: 1px solid #e3e3e3;
            display: flex;
            flex-direction: column;
            font-size: 13px;
            gap: 20px;
            flex: 1;

            .bloco-sigilo {
                span {
                    background-color: #b4bcc2;
                    font-size: 11px;
                    color: #fff;
                    padding: 4px 10px;
                    border-radius: 6px;
                }
            }

            .finalidade {
                display: flex;
                gap: 4px;

                .fina {
                    color: #666 !important;
                }
            }

            .border {
                border-bottom: 1px solid white;
            }
        }

        .painel-right {
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            flex: 5;

            .title {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    background-color: #b4bcc2;
                    font-size: 11px;
                    color: #fff;
                    padding: 4px 10px;
                    border-radius: 6px;
                }
            }

            .border-2 {
                border-bottom: 1px solid #e3e3e3;
                width: 100%;
            }

            .msg {
                padding: 20px;
                font-size: 15px;
            }
        }
    }

    #cad-resposta-user {
        background-color: #ecf0f1;
        margin-top: 30px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 25px;

        label {
            font-size: 20px;
        }

        p {
            font-size: 13px;
            color: #666
        }

    }

    #btn-enviar {
        padding: 9px 20px;
        color: #fff;
        border: none;
        background-color: #2c7bff;
        border-radius: 6px;
        width: 20%;
        font-weight: bold;
        font-size: 17px;
        cursor: pointer;
    }



    .comentario {
        padding: 50px;
    }

    .bloco {
        border: 1px solid #e3e3e3;
        display: flex;
        border-radius: 6px;

        .bloco-left {
            border-right: 1px solid #e3e3e3;
            background: #ecf0f1;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;



            .despacho {
                display: gap;
                display: flex;
                gap: 5px;
                font-weight: 600;
            }
        }

        .bloco-right {
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

    }

}

#cad-resposta-user button:hover {
    opacity: 0.5;
}

.bloco-voltar {
    margin: 30px 0;

    a {
        color: #666;
        outline: none;
        text-decoration: none;
    }
}

.bloco-voltar a:hover {
    color: #2c7bff;
}

button#delete {
    padding: 2px 5px;
    color: #fff;
    border: none;
    background-color: #ff3b3b;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
}

div#btn-delete-msg {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}

#full-stars-example-two {

    .rating-group {
        display: inline-flex;
    }

    .rating__icon {
        pointer-events: none;
    }

    .rating__input {
        position: absolute !important;
        left: -9999px !important;
    }

    .rating__input--none {
        display: none
    }

    .rating__label {
        cursor: pointer;
        padding: 0 0.1em;
        font-size: 20px;
    }

    .rating__icon--star {
        color: orange;
    }

    .rating__input:checked~.rating__label .rating__icon--star {
        color: #ddd;
    }

    .rating-group:hover .rating__label .rating__icon--star {
        color: orange;
    }

    .rating__input:hover~.rating__label .rating__icon--star {
        color: #ddd;
    }
}


@media screen and (max-width:768px) {

    .container-atendi {
        padding: 15px;
    }

    .bloco {
        flex-direction: column;
    }

    .atendimento {
        h2 {
            font-size: 17px;
        }

        p {
            font-size: 17px;
        }
    }

    .number-atendimento {
        flex-direction: column;
    }

    .container-atendimento {
        flex-direction: column;
    }
}