.idenficacao {
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    margin-top: 20px;

    .itens {
        display: flex;
        gap: 5px;
        align-items: center;
        color: #000;
        border-top: 2px solid #bbb;
        padding: 6px 12px 8px 8px !important;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: white;
        margin-bottom: -10px;
        border-radius: 4px 4px 0 0;
        font-size: 12px;
        i {
            margin-right: 5px;
        }
        p {
            color: #666 !important;
        }
    ;
        border-bottom: 1px solid white;
        margin-bottom: -12px;
        border-bottom: 2px solid white;
        z-index: 1;
    }

    .itens2 {
        display: flex;
        gap: 5px;
        align-items: center;
        color: #000;
        padding: 6px 12px 8px 8px !important;
        border-bottom: white;
        margin-bottom: -10px;
        border-radius: 4px 4px 0 0;
        font-size: 12px;
        color: #666 !important;

        i {
            margin-right: 5px;
        }

        p {
            color: #666 !important;
        }
    }

    .itens2 {
        padding: 9px 12px 8px 8px !important;
        border-right: 1px solid #ddd;
        margin-bottom: -11px;
        background-color: #ddd;
        cursor: pointer;
    }
}

.container {
    padding-top: 10px;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;



    .border {
        border-bottom: 1px solid #ddd;
        width: 100%;
        max-width: 1160px;
        margin-bottom: 20px;
    }

    p {
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 30px;
        color: #333;

    }

    .sigilo {
        background-color: #ECECEC;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin-top: 20px;
        max-width: 1049px;
        width: 100%;
        padding: 5px;
        padding-bottom: 30px;

        label {
            margin-bottom: 0;
        }

        input#semSigilo {
            margin-right: 10px;
        }

        input#sigilo {
            margin-right: 10px;
        }

        p {
            color: #666
        }

        .input-sigilo {



            label {
                color: #666;

                i {
                    font-size: 9px;
                    background-color: #333333;
                    border-radius: 155px;
                    color: #fff;
                    padding: 3px;
                }
            }
        }

        .semSigi {
            cursor: pointer;
            border: none;
        }

        .modal-semSigi {
            background-color: #fff;
            padding: 12px;
            width: 154px;
            font-size: 12px;
            border-radius: 5px;
        }

        .modal-Sigi {
            background-color: #fff;
            padding: 12px;
            width: 154px;
            font-size: 12px;
            border-radius: 5px;
        }
    }

}
