#comp-footer {
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: 10px; */
    width: 100%;
    border-top: 1px solid #e5e5e5;
}

#comp-footer .div-footer {
    padding: 31px;
    font-size: 13px;
    color: #717171;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 1350px;
    margin: auto;
}

#comp-footer .div-footer img {
    width: 135px;
    padding: 12px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #comp-footer {
        width: auto;
    }

    #comp-footer .div-footer img{
        width: 115px;
    }

    .cliente p{
        font-size: 12px;
    }
}
