.container-main-atendimento {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
}

.idenficacao {
    margin-bottom: 10px;
}

.border {
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
}

form#new-atendimento-user {
    width: 100%;
}

form#new-atendimento-user label {
    margin-bottom: 10px;
    font-size: 12px;
}


.cad {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    margin-top: 25px;
    padding-bottom: 21px;
}



.inputs {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.inputs label {
    font-size: 88%;
    color: #666 !important;
}

.inputs input {
    padding: 10px 11px;
    border: 1px solid #c9c9c9;
    color: #666 !important;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

select#prioridade {
    padding: 10px 11px;
    border: 1px solid #c9c9c9;
    color: #666 !important;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

select#finalidade {
    padding: 10px 11px;
    border: 1px solid #c9c9c9;
    color: #666 !important;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

input#assunto {
    padding: 10px 11px;
    border: 1px solid #c9c9c9;
    color: #666 !important;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

input#codAnterior {
    padding: 10px 11px;
    border: 1px solid #c9c9c9;
    color: #666 !important;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

input#data {
    padding: 10px 11px;
    border: 1px solid #c9c9c9;
    color: #666 !important;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

input#hora {
    padding: 10px 11px;
    border: 1px solid #c9c9c9;
    color: #666 !important;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

select#assunto {
    padding: 10px 11px;
    border: 1px solid #c9c9c9;
    color: #666 !important;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}


.text-sigiloso {
    margin: 27px 0px;
    font-size: 12px;
}

.cad .bloco {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #ececec;
    padding: 12px;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.onde {
    display: flex;
    align-items: center;
    margin-right: 35px;
    font-size: 14px;
}

.bloco2 {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.bloco3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

button.btn-enviar {
    padding: 18px 36px;
    border: none;
    border-radius: 6px;
    background-color: #2c7bff!important;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

textarea#atendimentoUsuario {
    border: none;
}

button.btn-enviar:hover {
    opacity: 0.5;
}

.ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items{
    flex-wrap: wrap !important;
    justify-content: space-around;
}

.ck-editor__editable[role="textbox"] {
    /* Editing area */
    min-height: 200px;
}



@media screen and (max-width: 768px) {
    .bloco3 {
        flex-direction: column;
        gap: 15px;
    }

    .btn-enviar {
        margin: 30px 0;
    }

}
