section.bloco-atendimentos {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.bloco {
    margin-top: 31px;
}

.aberto {
    border-top: 2px solid #bbb;
    padding: 6px 12px 8px 8px !important;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: white;
    margin-bottom: -1px;
    border-radius: 4px 4px 0 0;
    font-size: 11px;
    cursor: pointer;
}

.aberto i {
    margin-right: 5px;
}


.aberto.ativo {
    border-top: 2px solid #bbb;
    padding: 6px 12px 8px 8px !important;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: white;
    margin-bottom: -1px;
    border-radius: 4px 4px 0 0;
    font-size: 11px;
    background-color: white;
    cursor: pointer;
}

.aberto.ativo i {
    margin-right: 5px;
}


.arquivado {
    border-top: 2px solid #bbb;
    padding: 6px 12px 8px 8px !important;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: white;
    margin-bottom: -1px;
    border-radius: 4px 4px 0 0;
    font-size: 11px;
    cursor: pointer;
}

.arquivado i {
    margin-right: 5px;
}

.arquivado.ativo {
    border-top: 2px solid #bbb;
    padding: 6px 12px 8px 8px !important;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: white;
    margin-bottom: -1px;
    border-radius: 4px 4px 0 0;
    font-size: 11px;
    background-color: white;
    cursor: pointer;
}

.arquivado.ativo i {
    margin-right: 5px;
}


table.bloco-aberto th {
    background: #efefef;
    padding: 10px 4px;
}

/* table.bloco-arquivado th {
    background: #efefef;
    padding: 10px 4px;
} */

.div-padding {
    border: 1px solid #ddd;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 349px;
    margin-bottom: 50px;
}

.link-atendimento {
    text-decoration: none;
    outline: none;
    color: black;
}

/*pode ser que tenha o div-padding*/

table {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    padding: 18px;
}

tbody {
    border-radius: 6px;
    cursor: pointer;
}

tr:hover {
    background-color: #eeeeee;
}

p.dataHora {
    margin-top: 6px;
    color: #666;
}


.number-atendimento {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    font-size: 11px;
    font-weight: 500;
    color: #172577;
}

span.sigiloso {
    font-size: 11px;
    padding: 4px 4px;
    border-radius: 3px;
    background: #2c7bff !important;
    border: 1px solid #2c7bff !important;
    color: #fff !important;
    min-width: 71px;
}

span.semSigilo {
    font-size: 11px;
    padding: 4px 4px;
    border-radius: 3px;
    background: #ffffff !important;
    border: 1px solid #2c7bff !important;
    color: #2c7bff !important;
    min-width: 71px;
}

.assunto {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 6px;
    padding: 5px;
}

span.prioridade {
    font-size: 11px;
    padding: 4px 7px;
    border-radius: 3px;
    border: 0 !important;
    color: white !important;
    width: 60px;
    text-align: center;
}

span.baixo {
    background-color:  #BFC9CA !important;
}

span.media {
    background-color: #28B463 !important;
}

span.alta {
    background-color:  #ffcc00 !important;
}

span.urgente {
    background-color: #f74747  !important;
}


.data {
    display: flex;
    padding: 5px;
    color: #666;
    font-size: 11px;
    align-items: center;
    gap: 8px;
}


.sigilo {
    padding: 5px;
    display: flex;
    text-align: center;
}

table.bloco-arquivado th {
    background: #efefef !important;
    padding: 10px 4px !important;
}

span.title {
    font-weight: 400 !important;
}

button#btnBuscar {
    background-color: #2c7bff;
    color: white;
    border: none;
    border-radius: 7px;
    font-weight: 600;
    padding: 0 15px;
    cursor: pointer;
    min-height: 35px;
    display: flex;
    align-items: center;
    gap: 9px;
    justify-content: center;
    margin-top: 23px;
    width: 134px;
}

.container-pesquisar {
    padding: 15px;
    background-color: #efefef;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 12px;
}

.title-pequisar h2{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}

.itens-pesquisar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field label{
    font-size: 14px;
}

.field input{
    padding: 6px;
    min-height: 34px;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.field select{
    padding: 6px;
    min-height: 34px;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.field select:focus{
border-color: #2c7bff;
}

@media screen and (max-width: 768px) {
    .div-padding {
        padding: 5px;
    }
    section.bloco-atendimentos {
        padding: 0px 15px;
        margin-bottom: 24px;
    }
}
