section {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 36px 15px;
    width: 1250px;
}

.ano h2 {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
}

.atendimento h1{
    padding: 12px 17px 18px 17px;
    margin-bottom: 12px;
    background-color: #ececec;
    text-align: center;
    border-radius: 5px;
    color: #2c7bff;
    font-size: 21px;
}
.bloco {
    display: flex;
    width: 100%;
    gap: 10px;
}

.qnt-manifestacao{
    border: #ececec solid 2px;
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px;
    flex: 1;
}

.qnt-manifestacao p{
    font-weight: 400;
    color: #696969;
    margin-bottom: 10px;
}

@media screen and (max-width:768px){
    .bloco{
        flex-direction: column;
    }
}
