.container {
    padding-top: 10px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 16px 15px;
    margin-bottom: 50px;
    width: 1010px;

    .container-left {
        flex: 1;

        h3 {
            font-size: 12px;
            color: #666;
            margin-bottom: 20px;
            font-weight: 400;
        }

        .menus {
            display: flex;
            gap: 35px;
            align-items: baseline;
            margin-bottom: 20px;
            margin-right: 290px;
            width: 100%;

            a {
                border: none;
                background-color: transparent;
                font-size: 20px;
                color: #172577;
                font-weight: bold;
                text-decoration: none;
            }

            .opcoes {
                display: flex;
                margin-right: 89px;
                flex-direction: column;
                gap: 12px;

                p {
                    font-size: 13px;
                }
            }
        }
    }

    .container-right {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 430px;

        .inbox {
            padding: 12px 17px 18px 17px;
            background-color: #ECECEC;
            border-radius: 5px;
            color: #333;
            font-size: 15px;
            width: 366px;
            margin-bottom: 10px;

            a.inbox {
                padding: 12px 20px;
                color: #fff;
                text-decoration: none;
                border: none;
                background-color: #24e3be;
                border-radius: 5px;
                margin-top: 20px;
                width: 100%;
                font-size: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
            }
        }

        .inbox a.inbox:hover {
            opacity: 0.5;
        }


        .menus-right {
            button {
                padding: 12px 17px 18px 17px;
                background-color: #ECECEC;
                border: none;
                border-radius: 5px;
                font-size: 20px;
                color: #172577;
                width: 100%;
                margin-bottom: 20px;
                text-align: left;
            }
        }

        .info-prefeitura {
            padding: 12px 17px 18px 17px;
            background-color: #ECECEC;
            border-radius: 5px;
            color: #333;
            font-size: 15px;
            width: 100%;

            .tel-pref {
                margin-bottom: 20px;
                font-size: 13px;
            }

            .border-bottom {
                border-bottom: 1px solid #fff;
            }

            button.organograma {
                padding: 10px 20px;
                color: #fff;
                text-decoration: none;
                border: none;
                background-color: #333333;
                border-radius: 5px;
                margin-top: 20px;
                width: 100%;
                font-size: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
            }

            .prefeitura {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }

        .info-prefeitura .organograma: hover {
            opacity: 0.5;
        }

        .ajuda {
            padding: 12px 17px 18px 17px;
            background-color: #ECECEC;
            border-radius: 5px;
            width: 100%;

            p {
                font-size: 18px;
                color: #333;
            }

            .links-ajuda {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-left: 10px;
                margin-top: 15px;
                font-size: 13px;

                a {
                    text-decoration: none;
                }
            }
        }
    }

}

.banner-opcoes {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: flex-start;
    gap: 12px;
    margin: auto;
    /* border-bottom: 5px solid black; */
    width: 1350px;
    padding: 0 10px;
}

.banner-opcoes .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background: red; */
    padding: 28px 25px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    flex: 1;
}

.banner-opcoes .item i {
    font-size: 33px;
    aspect-ratio: 1;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ededed;
    border-radius: 18px;
}

@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
        padding: 10px 20px;

        .container-left {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 25px;
        }

        .container-right {
            padding-right: 0px;
            align-items: center;

            .menus-right {
                button {
                    width: 300px;
                }
            }


            .info-prefeitura {
                width: 300px;
            }

            .ajuda {
                width: 300px;
            }
        }


    }
}
