on:
  push:
    branches:
      - master
name: 游 Deploy - Ambiente de Produ칞칚o
jobs:
  dev:
    name: 游깷 Deploy - new.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: new.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/new.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmcampanario:
    name: 游깷 Deploy - cmcampanario.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmcampanario.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmcampanario.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  pmfronteiradosvales:
    name: 游깷 Deploy - pmfronteiradosvales.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/pmfronteiradosvales.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/pmfronteiradosvales.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmperiquito:
    name: 游깷 Deploy - cmperiquito.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmperiquito.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmperiquito.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmpontodosvolantes:
    name: 游깷 Deploy - cmpontodosvolantes.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmpontodosvolantes.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmpontodosvolantes.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmaguaboa:
    name: 游깷 Deploy - cmaguaboa.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmaguaboa.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmaguaboa.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmmiravania:
    name: 游깷 Deploy - cmmiravania.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmmiravania.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmmiravania.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmmanga:
    name: 游깷 Deploy - cmmanga.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmmanga.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmmanga.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmmarilac:
    name: 游깷 Deploy - cmmarilac.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmmarilac.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmmarilac.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'
  cimcentral:
    name: 游깷 Deploy - cimcentral.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cimcentral.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cimcentral.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'
  cmaimores:
    name: 游깷 Deploy - cmaimores.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmaimores.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmaimores.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmalpercata:
    name: 游깷 Deploy - cmalpercata.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmalpercata.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmalpercata.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmmedeiros:
    name: 游깷 Deploy - cmmedeiros.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmmedeiros.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmmedeiros.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmsaojosedodivino:
    name: 游깷 Deploy - cmsaojosedodivino.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmsaojosedodivino.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmsaojosedodivino.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmsenadormodestino:
    name: 游깷 Deploy - cmsenadormodestino.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmsenadormodestino.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmsenadormodestino.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'
