on:
  push:
    branches:
      - master
name:  Deploy - Ambiente de Produ莽茫o
jobs:
  dev:
    name:  Deploy - new.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: new.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/new.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmcampanario:
    name:  Deploy - cmcampanario.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmcampanario.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmcampanario.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  pmfronteiradosvales:
    name:  Deploy - pmfronteiradosvales.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/pmfronteiradosvales.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/pmfronteiradosvales.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmperiquito:
    name:  Deploy - cmperiquito.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmperiquito.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmperiquito.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmpontodosvolantes:
    name:  Deploy - cmpontodosvolantes.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmpontodosvolantes.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmpontodosvolantes.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmaguaboa:
    name:  Deploy - cmaguaboa.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmaguaboa.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmaguaboa.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmmiravania:
    name:  Deploy - cmmiravania.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmmiravania.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmmiravania.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmmanga:
    name:  Deploy - cmmanga.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmmanga.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmmanga.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmmarilac:
    name:  Deploy - cmmarilac.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmmarilac.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmmarilac.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'
  cimcentral:
    name:  Deploy - cimcentral.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cimcentral.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cimcentral.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'
  cmaimores:
    name:  Deploy - cmaimores.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmaimores.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmaimores.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmalpercata:
    name:  Deploy - cmalpercata.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmalpercata.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmalpercata.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmmedeiros:
    name:  Deploy - cmmedeiros.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmmedeiros.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmmedeiros.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmsaojosedodivino:
    name:  Deploy - cmsaojosedodivino.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmsaojosedodivino.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmsaojosedodivino.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmsenadormodestino:
    name:  Deploy - cmsenadormodestino.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmsenadormodestino.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmsenadormodestino.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmdemo:
    name:  Deploy - cmdemo.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmdemo.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmdemo.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  ciscen:
    name:  Deploy - ciscen.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/ciscen.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/ciscen.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmitambacuri:
    name:  Deploy - cmitambacuri.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name:  Verificando Diret贸rio
        uses: actions/checkout@v3

      - name:  Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmitambacuri.gwouvidoria.com.br/

      - name: 讹 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmitambacuri.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'
