on:
  push:
    branches:
      - master
name: 游 Deploy - Ambiente de Produ칞칚o
jobs:
  dev:
    name: 游깷 Deploy - new.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: new.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/new.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmcampanario:
    name: 游깷 Deploy - cmcampanario.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmcampanario.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmcampanario.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  pmfronteiradosvales:
    name: 游깷 Deploy - pmfronteiradosvales.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/pmfronteiradosvales.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/pmfronteiradosvales.gwouvidoria.com.br && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

  cmperiquito:
    name: 游깷 Deploy - cmperiquito.gwouvidoria.com.br
    runs-on: ubuntu-latest
    steps:
      - name: 游댍 Verificando Diret칩rio
        uses: actions/checkout@v3

      - name: 游늭 Sincronizando Arquivos
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: clientes/cmperiquito.gwouvidoria.com.br/

      - name: 郊윒잺 Executando Scripts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          port: ${{ secrets.ftp_port }}
          script: 'cd /home/gwouvidoria/clientes/cmperiquito.gwouvidoria.com.br && composer update && php artisan migrate --force && php artisan optimize:clear && php artisan route:cache'

